<div class="container col-lg-6 p-5">
    <div class="card">
        <div class="card-header">
            <h2 class="my-0 font-weight-bold text-center">Cambiar Datos del Paciente</h2>
        </div>
        <div class="card-body">
            <%= form_for @pet do |f| %>
            <div class="form-group row">
                <div class="col-sm-12">
                    <%= f.text_field :name,class: "form-control",placeholder:"Nombre" %>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <%= f.text_field :breed,class: "form-control",placeholder:"Raza" %>
                </div>
                <div class="col-sm-4">
                    <%= f.text_field :age,class: "form-control",placeholder:"Edad" %>
                </div>
                <div class="col-sm-4">
                    <%= f.text_field :size,class: "form-control",placeholder:"Tamaño" %>
                </div>
            </div>
    
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-8 pt-0 font-weight-bold">Genero</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <%= f.radio_button :gender, "Macho",class:"form-check-input" %>
                            <label class="form-check-label" for="pet_gender_macho">
                                Macho
                            </label>
                        </div>
                        <div class="form-check">
                            <%= f.radio_button :gender, "Hembra",class:"form-check-input" %>
                            <label class="form-check-label" for="pet_gender_hembra">
                                Hembra
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <%= f.submit "Editar", class:"btn btn-primary"%>
                    <%= link_to  "Volver", pets_path, class:"btn btn-primary"%>

                </div>
            </div>
        </div>
    </div>

    <% end %>

</div>